{% extends 'base/base.html' %}

{% block content %}
<h1>Tickets de support</h1>
<table class="table">
    <thead>
        <tr>
            <th>Objet</th>
            <th>Utilisateur</th>
            <th>Créé le</th>
            <th>Résolu</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for ticket in tickets %}
        <tr>
            <td>{{ ticket.signalement.objet }}</td>
            <td>{{ ticket.signalement.user.username }}</td>
            <td>{{ ticket.created_at }}</td>
            <td>
                {% if ticket.status == "Résolu" or ticket.status == "Refusé" %}
                    Oui
                {% else %}
                    Non
                {% endif %}
            </td>
                     
            <td><a class="btn btn-primary" href="{% url 'ticket_detail' ticket.id %}">Voir</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
